@use '../../variables' as vars;

.root {
  scroll-behavior: smooth;
  --scroll-behavior: smooth;
}
.anchor {
  display: block;
  position: relative;
  top: -(vars.$headerHeight);
  visibility: hidden;
  margin: 0;
  padding: 0;
  border: none;
}