@import 'src/variables';

.root {
  min-width: $websiteMinWidth;
  min-height: calc(100vh - #{$headerHeight});
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  background-color: $appBlue;
  box-shadow: 0 -2px 6px 0 rgba(0,0,0,.12), inset 0 1px 0 0 #dadce0;
}
.wrap {
  text-align: center;
}
.title {
  color: #fff;
  font-size: 40px;
  font-weight: 300;
}
.version {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  span {
    margin-left: 10px;
  }
}
.actions {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 70px;
}
.system {
  display: inline-flex;
  flex-direction: column;
  & + & {
    margin-left: 50px;
  }
}
.btn {
  min-width: 300px;
  margin-top: 20px;
}