@import "src/variables";

.root {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: height .4s;
  z-index: 100;
  min-width: 400px;
}
.wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.12), inset 0 -1px 0 0 #dadce0;
  height: $headerHeight;
  position: relative;
}
.logo {
  position: absolute;
  top: 100%;
  left: 24px;
  transform: translateY(-50%);
  width: 70px;
}
.logoText {
  font-family: 'JetBrains Mono', monospace;
  margin-left: 110px;
  font-size: 24px;
  letter-spacing: -0.5px;
  text-decoration: none;
  color: initial !important;
  &:hover {
    text-decoration: none;
  }
  span {
    opacity: .5;
  }
  @media all and (max-width: 799px) {
    font-size: 16px;
  }
}
.menu {
  margin-left: 48px;
  font-size: 13px;
  @media all and (max-width: 799px) {
    display: none;
  }
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    margin: 0;
  }
  li {
    display: flex;
    align-items: center;
    height: 100%;
    width: auto;
  }
  a {
    text-decoration: none;
    text-transform: none;
    border: none;
    font-weight: 600;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
    background: none;
    padding: 0 20px;
    bottom: auto;
    color: #5f6368;
    margin: 0;
    position: static;
    &:hover {
      text-decoration: none;
      color: #000;
    }
    &.blue {
      color: #106ba3;
      font-weight: 800;
    }
  }
}
.github {
  position: absolute;
  right: 24px;
}