@import "variables";

* {
  box-sizing: border-box;
  word-spacing: -2px;
}
html {
  min-width: $websiteMinWidth;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: 'JetBrains Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 13px;
  line-height: 1.2;
}
